In [1]:
import random
import os
import numpy as np
from PIL import Image
import torch
import pandas as pd
import torchvision
from torch.utils.data import Dataset, WeightedRandomSampler
from torch.utils.data import DataLoader
import os
from torchvision.io import read_image
import torchvision.transforms as transforms
from torch.utils.data.sampler import SubsetRandomSampler
from tqdm import tqdm

/home/sshivaditya/miniconda3/envs/know/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
class CassavaImageDataset(Dataset):
    def __init__(self, annotations_file, img_dir, transform, target_transform=None):
        self.img_labels = pd.read_csv(annotations_file)
        self.img_labels["label" == 3].labels
        self.img_dir = img_dir
        self.transform = transform
        self.target_transform = target_transform
       

    def __len__(self):
        return len(self.img_labels)

    def __getitem__(self, idx):
        img_path = os.path.join(self.img_dir, self.img_labels.iloc[idx, 0])
        image = read_image(img_path)
        label = self.img_labels.iloc[idx, 1]
        if self.transform:
            image = self.transform(image)
        if self.target_transform:
            label = self.target_transform(label)
        return image, label

In [5]:
data = pd.read_csv("/home/sshivaditya/Projects/pedanius/data/train.csv")

In [18]:
frames = [data[data.label == 3].sample(frac=0.1,random_state=10) ,data[data.label == 2],data[data.label == 1],data[data.label == 4],data[data.label == 0]]

In [20]:
result = pd.concat(sss)

In [21]:
result

             image_id  label
17284  4114142974.jpg      3
15096  3712630265.jpg      3
17604  4171475132.jpg      3
614       1107438.jpg      3
19554    65139094.jpg      3
...               ...    ...
21336   986888785.jpg      0
21337   986965803.jpg      0
21338   986999751.jpg      0
21339   987080644.jpg      0
21343   988174802.jpg      0

[9555 rows x 2 columns]

In [22]:
data

             image_id  label
0      1000015157.jpg      0
1      1000201771.jpg      3
2       100042118.jpg      1
3      1000723321.jpg      1
4      1000812911.jpg      3
...               ...    ...
21392   999068805.jpg      3
21393   999329392.jpg      3
21394   999474432.jpg      1
21395   999616605.jpg      4
21396   999998473.jpg      4

[21397 rows x 2 columns]